.bg {
    background-image: url("./img/bg.jpg");
    height: 90vh;
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-size: cover;
    background-attachment: fixed;
}

.zoom {
    transition: transform 0.2s;
    /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: pointer;
}

.rcorner {
    border-radius: 20px;
}

.image-container {
    position: relative;

}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}



.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    display: block;
    color: #0d0d0d;
    transform: scale(0.9);
}

.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
    transform: scale(1.0);
}

a:link a:visited a:hover a:active {
    text-decoration: none;
}

